# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Pytest files
./tests/.pytest_cache

# User files
./tests/user_configs

# Experimentation files
sandbox.py